<%- include('partials/dashboardHeader') %>
<main class="card mx-auto mt-5" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title"><%= org.organization %></h5>
    <p class="card-text"><%= org.address %></p>
  </div>
</main>

<footer><%- include('partials/footer.ejs') %></footer>
