<%- include('partials/dashboardHeader') %>
<link
  rel="stylesheet"
  href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
/>
<!-- load fontawesome -->

<style>
  main {
    padding: 50px;
  }
</style>

<main>
  <h1>Dashboard</h1>
  <p>Welcome to Dashboard</p>
</main>

<%- include('partials/footer') %>
