<%- include('partials/header') %>
<main class="container pt-5">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6 col-lg-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">Register</h2>
          <form class="row g-3" action="/users/register" method="POST">
            <div class="col-12 form-group">
              <label for="inputFullName" class="form-label">Full Name</label>
              <input type="text" name="fullname" class="form-control" id="inputFullName" />
              <% if(locals.error) { %>
              <div style="color: #f09; font-weight: bold; margin: 10px 4px"><%= error %></div>
              <% } %>
            </div>
            <div class="col-md-6 form-group">
              <label for="inputEmail4" class="form-label">Email</label>
              <input type="email" name="email" class="form-control" id="inputEmail4" />
              <% if(locals.error) { %>
              <div style="color: #f09; font-weight: bold; margin: 10px 4px"><%= error %></div>
              <% } %>
            </div>

            <div class="col-md-6 form-group">
              <label for="inputPassword4" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="inputPassword4" />
            </div>
            <div class="col-md-6 form-group">
              <label for="inputPhone" class="form-label">Phone Number</label>
              <input type="number" name="phone" class="form-control" id="inputPhone" />
            </div>

            <div class="col-md-6 form-group">
              <label for="inputGender" class="form-label">Gender</label>
              <select id="inputGender" name="gender" class="form-select">
                <option selected value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>

            <div class="col-12 form-group">
              <label for="inputAddress" class="form-label">Address</label>
              <input
                type="text"
                name="address"
                class="form-control"
                id="inputAddress"
                placeholder="1234 Main St"
              />
            </div>

            <div class="col-12 d-block text-center">
              <button
                type="submit"
                class="btn"
                style="background-color: #8d448b; color: white; padding: 10px 40px"
              >
                Sign Up
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
<footer><%- include('partials/footer.ejs') %></footer>
